@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes multicolor-border {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
}

.multicolor-border {
  border: 2px solid transparent;
  border-image-slice: 1;
}

.group:hover .multicolor-border {
  animation: multicolor-border 2s linear infinite;
}


.color-change {
  animation: colorChange 10s infinite;
}

.bg-right-stat {
  background-color: #111111;
}
.main-background {
  background-color: #19171A;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
